body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 400px;
}

.row {
    display: flex;
    width: 100%;
    justify-content: center;
}

button {
    width: 25%;
    font-size: 2rem;
    cursor: pointer;
    font-weight: normal;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5%;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
    width: 50%;
}

.output {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    min-height: 70px;
}

.previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.current-operand {
    color: white;
    font-size: 2.5rem;
}